div{ color: red; font-size: 2cm;}

A { font-size: 18pt; text-decoration: none; }

A:link { color: green;}

/* text-decoration:none - usuwa wszelkie dekoracje.

 text-decoration:underline - podkreśla dany element tekstu.

Rafał Omilian */
